* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #0000ff, #00eeff);

  display: flex;
  align-items: center;
  justify-content: center;
}

.app-center {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
